<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body marginleft="auto" marginright="auto" width="960px">

    <div>
        <span style="font-family: SimHei;">2017-2018第二学期高二（理科）期末考试</span>
    </div>
    <table cellspacing="0" border="1" >
        <tr style="border: 1px">
            <td style="align-content: center">
                <span style="font-family: SimHei;">填涂须知：</span>
                <p style="font-size: 8px">1、您的反馈会为您下次推送的个性化,学习方案更标准，更有针对性！</p>
                <p style="font-size: 8px">2、按照题号在对应的答题区域内涂写，超出各题区域的答案无效，在草稿纸上，试卷上作答无效。</p>
                <p style="font-size: 8px">3、客观题根据答案只区分会答（Y）、不会答（N）2种情况，主观题根据掌握情况区分分为初步了解（1）、基本理解（2）、全面了解（3）3种情况</p>
                <p style="font-size: 8px">4、答题纸不得折叠、污染、穿孔、撕破等。</p>
            </td>
            <td>
                <p style="align-content: center">高一1班</p>
            </td>

        </tr>

    </table>



</body>
</html>